h1 {
  color: #8d9440;
}

body {
  background: #d2c29d;
  color: black;
  font-family: "Concert One", cursive;
  font-size: 16px;
  margin: 70px 0;
}

.chatbar {
  background: #8d9440;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  font-size: 15px;
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 6px 0;
}

.chatbar-message {
  flex: 8;
  font: initial;
}

.chatbar-username {
  flex: 2;
  font: initial;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  margin: 5px;
  padding: 0 10px 0;
  line-height: normal;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 725;
}

.navbar {
  background: #8d9440;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-users {
  padding-left: 7px;
  line-height: 65px;
  display: block;
  float: left;
}

.logo {
  height: 73px;
  width: 85px;
  float: left;
}

.message-img {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  max-width: 60%;
  max-height: 3250px;
  margin-left: 1em;
  border: 1px solid #021a40;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
